<div id="<%= dom_id unit %>">
  <p>
    <strong>Description:</strong>
    <%= unit.description %>
  </p>

  <p>
    <strong>Acronym:</strong>
    <%= unit.acronym %>
  </p>

  <p>
    <strong>City:</strong>
    <%= unit.city %>
  </p>

</div>
